.h-Container{
    width: 100vw;
    height: max-content;
    /* padding: 60px, 264px, 60px, 264px; */
    padding: 50px 150px 50px 150px;
    /* background-color: cornflowerblue; */
    /* border: 1px solid black; */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:20px
}
.logo{
    width: 200px;
    height: 42px;

}
.search-bar{
    width: 264px;
    height:44px;
    position: relative;
    
    /* background-color: red; */
/* gap: 12px */

}
.search-bar img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.search-bar input{
    width: 100%;
    height: 100%;
    padding: 12px 0px 12px 0px;
    border-bottom: 1px solid #D4D4D4;
    outline: none;
    padding-left: 2rem;

    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
}

nav{
    display: flex;
    gap: 2rem;
   
}
nav li a{
     text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color:#2F302C;
}
nav li .down-arrow img{
    display: inline;
}
.h-Container .left-tab{
    display: flex;
    gap: 1rem;
    justify-content: end;
    align-items: center;
}
.h-Container .left-tab li a{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color:#2F302C;
}
.h-Container .left-tab img{

    display: inline;
}
.h-Container .left-tab li  a:hover,.h-Container nav li a:hover{
    color: #2f302cb3;
}